* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

span {display: block;}

.gameList
{
    max-width: 700px;
    padding: 15px;
    list-style:none;
    background-color: #1f232e;
    border-bottom: 2px solid red;
    border-top: 2px solid #a3cf06;
    border-radius: 10px;
    
}
/*''align-items: center'' ele é meio que uma parada q precisa do flex pra funcionar */
.gameItem
{
    position: relative;
    border-width: 30%;
    display: grid;
    align-items: center;
    border-bottom: 1px solid #292e3d;
    grid-template-columns: 119px 4fr 1fr 1fr;
}
.gameItem .gameBoxInformation {
    width: 270px;
    border-radius: 10px;
    color: white;
    padding: 14px;
    z-index: 1;
    display: none;
    background-color: #292e3d;
    position: absolute;
    top: 0; right: -300px; 
    
}
/* block revela bloco */
.gameItem:hover .gameBoxInformation {display: block;}
.gameItem:hover .gameBoxInformation img {
    width: 100%;
}

.gameItem:last-child {
    border-bottom: none;
    
}

.gameImg
{
    height: 40px;
    width: 107px;
   

}

.gameName{
    overflow: hidden; 
    /* esconde o texto */
    text-overflow: ellipsis;
    /* continuidade ... */
    white-space: nowrap;
    /* nao quebra linha */

    font-size: 14px;
    color: rgb(255, 255, 255);
}

.gamePlayersNumber{
    color: #a3cf06;
    overflow: hidden; 
    /* esconde o texto */
    text-overflow: ellipsis;
    /* continuidade ... */
    white-space: nowrap;
    /* nao quebra linha */
}
.gamePlayersOnline{
    overflow: hidden; 
    /* esconde o texto */
    text-overflow: ellipsis;
    /* continuidade ... */
    white-space: nowrap;
    /* nao quebra linha */
    margin-left: 12px;

    color: rgb(255, 255, 255);
}

/* .gameItem:nth-child(2) chama a segunda classe gameItem */